
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PossBox </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @await Html.PartialAsync("_LayoutCssPartial")
    @await RenderSectionAsync("Styles",false)
</head>

<body>
    @await Component.InvokeAsync("AdminMenu")
    <!--page wrapper-->
    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">
            @RenderBody()
            <footer class="footer text-center text-sm-left">
                &copy; @DateTime.Now.Year Sinan Fen.<span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
            </footer><!--end footer-->
        </div>
    </div>
    @await Html.PartialAsync("_LayoutJsPartial")
    @await RenderSectionAsync("Scripts",false)
</body>
</html>